.grid-container-form-criteria-i-adjective {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 1em 1em;
  grid-template-areas: "divkanjisCriteria divpronunciationCriteria divmeaningCriteria";
}
#divkanjisCriteria {
  grid-area: divkanjisCriteria;
}
#divpronunciationCriteria {
  grid-area: divpronunciationCriteria;
}
#divmeaningCriteria {
  grid-area: divmeaningCriteria;
}

.buttons {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1em 1em;
}
