.kanjisPage {
  display: grid;
  grid-template-rows: min-content min-content min-content auto;
  gap: 1em 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  grid-template-areas:
    "kanji pronunciation pronunciation pronunciation"
    "kanji meaning meaning meaning"
    "strokes strokes strokes strokes";
  border-radius: 10px;
  background-color: rgba(38, 113, 22, 0.48);
  margin: 0.5em;
  padding: 0.5em;
}
.kanji {
  grid-area: kanji;
  text-align: left;
  font-weight: bold;
  font-size: xxx-large;
}
.pronunciation {
  grid-area: pronunciation;
  font-weight: bold;
}

.pronunciation span {
  margin: 0.5em;
}
.meaning {
  grid-area: meaning;
  font-weight: bold;
}
.meaning span {
  margin: 0.5em;
}

.onemeaning {
  background-color: #4682b4;
  border-radius: 10px;
  padding: 0.3em;
}
.strokes {
  grid-area: strokes;
}

.strokes span {
  margin: 0.5em;
}
