#translation {
  display: grid;
  grid: 33em 33em 1fr / repeat(12, 1fr);
  gap: 1em;
  width: 100%;
}

#translationArea {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

#ListOfParts {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 4;
}

#ListOfObjects {
  background-color: #4682b4;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 10px;
  padding: 0.4em;
}

#select-group {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content max-content;
}
