.wordsPage {
  display: grid;
  grid-template-rows: min-content min-content min-content auto;
  gap: 1em 1em;
}

.grid-container-word {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "word word pronunciation pronunciation pronunciation"
    "word word meaning meaning meaning";
  border-radius: 10px;
  background-color: rgba(38, 113, 22, 0.48);
  margin: 0.5em;
  padding: 0.5em;
}
.word {
  grid-area: word;
  text-align: left;
  font-weight: bold;
  font-size: xxx-large;
}
.pronunciation {
  grid-area: pronunciation;
  font-weight: bold;
}

.meaning {
  grid-area: meaning;
  font-weight: bold;
}
.meaning span {
  margin: 0.5em;
}
