body {
  background-color: #56c1196e;
  color: #ffffff;
  height: minmax(100%, fit-content());
}

h2,
h3 {
  background-color: blue;
  border-radius: 10px;
  padding: 0.1em;
  width: max-content;
  margin: 0.1em;
}

.app-container {
  display: grid;
  grid-template-rows: min-content max-content;
  padding: 0.4em;
  gap: 1em;
}

nav {
  width: 100%;
  height: 100%;
  font-size: large;
  display: grid;
  grid-template-columns: repeat(auto-fit, 9em);
  text-align: center;
}

nav a {
  background-color: #22a952;
  border-radius: 10px;
  margin: 0.1em;
}
