body {
  background-color: #56c1196e;
  color: #ffffff;
  height: minmax(100%, fit-content());
}

h2,
h3 {
  background-color: blue;
  border-radius: 10px;
  padding: 0.3em;
  width: max-content;
  margin: 0.4em;
}

.app-container {
  display: grid;
  grid-template-rows: min-content max-content;
}

nav {
  width: 100%;
  height: 100%;
  font-size: large;
}
