.verbsPage {
  display: grid;
  grid-template-rows: min-content min-content min-content auto;
  gap: 1em 1em;
}

.grid-container-verb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "verb pronunciation pronunciation pronunciation"
    "verb meaning meaning meaning"
    "groupe groupe groupe groupe";
}
.verb {
  grid-area: verb;
  text-align: left;
  font-weight: bold;
  font-size: xxx-large;
}
.pronunciation {
  grid-area: pronunciation;
  font-weight: bold;
}

.meaning {
  grid-area: meaning;
  font-weight: bold;
}
.meaning span {
  margin: 0.5em;
}

.groupe {
  grid-area: groupe;
}
