.grid-container-mainGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 55em);
  gap: "1em 1em";
}

.tenseGrid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-areas:
    "tense tense tense tense empty empty positive positive positive positive negative negative negative negative "
    "tense tense tense tense plain plain plainpositive plainpositive plainpositive plainpositive plainnegative plainnegative plainnegative plainnegative"
    "tense tense tense tense polite polite politepositive politepositive politepositive politepositive politenegative politenegative politenegative politenegative";
  margin: 1em;
}

.tense {
  height: 100%;
  width: 100%;
  margin: auto;
  grid-area: tense;
  border: solid;
  border-color: black;
  text-align: center;
  vertical-align: middle;
  background-color: red;
  color: white;
  font-weight: bold;
}

.empty {
  height: 100%;
  width: 100%;
  grid-area: empty;
  border: solid;
  border-color: black;
  text-align: center;
  vertical-align: middle;
  background-color: red;
  color: white;
  font-weight: bold;
}

.positive {
  height: 100%;
  width: 100%;
  grid-area: positive;
  border: solid;
  border-color: black;
  padding: 0.5em;
  background-color: red;
  color: white;
  font-weight: bold;
}

.negative {
  height: 100%;
  width: 100%;
  grid-area: negative;
  border: solid;
  border-color: black;
  padding: 0.5em;
  background-color: red;
  color: white;
  font-weight: bold;
}

.plain {
  height: 100%;
  width: 100%;
  grid-area: plain;
  border: solid;
  border-color: black;
  padding: 0.5em;
  background-color: red;
  color: white;
  font-weight: bold;
}

.plainpositive {
  height: 100%;
  width: 100%;
  grid-area: plainpositive;
  border: solid;
  border-color: black;
  padding: 0.5em;
}

.plainnegative {
  height: 100%;
  width: 100%;
  grid-area: plainnegative;
  border: solid;
  border-color: black;
  padding: 0.5em;
}

.polite {
  height: 100%;
  width: 100%;
  grid-area: polite;
  border: solid;
  border-color: black;
  padding: 0.5em;
  background-color: red;
  color: white;
  font-weight: bold;
}

.politepositive {
  height: 100%;
  width: 100%;
  grid-area: politepositive;
  border: solid;
  border-color: black;
  padding: 0.5em;
}

.politenegative {
  height: 100%;
  width: 100%;
  grid-area: politenegative;
  border: solid;
  border-color: black;
  padding: 0.5em;
}

.ending {
  color: red;
  font-weight: bold;
}
